<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Testing Environment" parallel="tests" thread-count="1">
    <listeners>
        <listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener"/>
        <listener class-name="utils.TestListener"/>
    </listeners>
    <test name="Article">
        <classes>
            <class name="tests.ArticleTests.testing.CheckArticleUrlWIthIncorrectSlugToDo"></class>
        </classes>
<!--        <packages>-->
<!--            <package name="tests.ArticleTests"></package>-->
<!--            <package name="tests.BackOfficeTests.testing"></package>-->
<!--            <package name="tests.BookmakersTests"></package>-->
<!--            <package name="tests.FilterTests.testing"></package>-->
<!--            <package name="tests.FooterTests"></package>-->
<!--            <package name="tests.QuickCardTests"></package>-->
<!--            <package name="tests.ReviewTests"></package>-->
<!--        </packages>-->
    </test>
</suite>




